/* Styling applied to the entire document */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mate SC, sans-serif;
    font-weight: 300;
    color: #080808;
}

h1, h2 {
    font-family: Mate SC, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #080808;
}

/* Styling applied to the Header and Navigation */

.center {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;

    background-color: white;
}

#title {
    font-size: 300%;
    float: left;
    text-align: center;
    padding: 5% 0;
}

#navigation {
    font-size: 200%;
    font-weight: bold;
}

#navigation li {
    float: right;
    list-style-type: none;
    letter-spacing: 2px;
    padding: 3% 20px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border: 2px solid #080808;
    border-radius: 6px;
    padding: 5%;
    background-color: white;
}

.active {
    border: 2px solid #080808;
    border-radius: 6px;
    padding: 5%;
    background-color: white;
}

#navigation_style {
    background-color: #C7BF94;
}

#media_platforms {
    position: absolute;
    left: 8%;
    top: 40%;
}

#media_platforms > li {
    display: inline-block;
}

#media_platforms i {
    font-size: 200%;
    color: #080808;
    letter-spacing: 20px;
}

#position {
    position: relative;
    padding: 1% 0;
}

#signup {
    position: absolute;
    right: 8%;
    top: 40%;
}

#signup a {
    text-decoration: none;
}

#signup_responsive {
    display: none;
}

/* Main Image and Cover Text */

#main_image_outer {
    height: 600px;
    width: 100%;
    position: relative;
}

#main_image {
    height: 100%;
    width: 100%;
    background: url('../images/pancakes.jpeg') no-repeat center center;
    background-size: cover;
    margin: auto;
}

#cover_text {
    font-size: 190%;
    font-family: Mate SC, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 38%;
    height: 25%;
    
    clip-path: polygon(100% 0,100% 50%,100% 100%,0% 100%,14% 50%,0% 0%);
    background-color: rgba(221 , 221 , 221 , .7);

    position: absolute;
    top: 60%;
    right: 0;
}

#cover_text h2 {
    float: right;
    padding: 3% 5%;
    color: #080808;
    text-transform: none;
    text-align: right;
}

.quote {
    text-align: center;
    margin: 0 auto;
    padding: 1.5% 0;
    background-color: #F2EDD7;
}

.quote h2 {
    font-family: Mate SC, sans-serif;
    font-size: 200%;
}

/* About Us */

#background_color {
    height: 600px;
    width: 100%;
    background-color: #C7BF94;
    position: relative;
}

#foreground_color_about {
    height: 550px;
    width: 98%;
    background-color: white;
    position: absolute;
    top: 4%;
    left: 1%;
    }

#border {
    height: 70%;
    width: 20%;
    border: 5px solid #808000;
    background-color: white;

    position: absolute;
    top: 12%;
    left: 5%;
}

#position_image_one {
    position: absolute;
    top: 5%;
    left: 2%;
}

.about_image img {
    height: 25%;
    width: 25%;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
}

#position_image_two {
    position: absolute;
    top: 25%;
    left: 14%;
}

#welcome {
    position: absolute;
    top: 5%;
    left: 48%;
}

#welcome img {
    height: 75%;
    width: 75%;
}

#signature {
    position: absolute;
    bottom: 18%;
    left: 55%;
}

#signature img {
    height: 40%;
    width: 40%;
}

.about_us_text {
    font-size: 120%;
    font-family: Mate SC, sans-serif;
    text-align: center;
    width: 25%;
}

#about_left {
    position: absolute;
    top: 25%;
    left: 35%;
}

#about_right {
    position: absolute;
    top: 25%;
    left: 65%;
}

#contact_us_button {
    position: absolute;
    bottom: 8%;
    left: 57.5%;
    
    border: 2px solid #080808;
    border-radius: 6px;
    padding: 5px;

    background-color: #E1C16E;
}

#contact_us_button a {
    text-decoration: none;
}

#contact_us_button h2 {
    font-size: 180%;
    float: left;
    text-align: center;
    background-color: #E1C16E;
}

/* Selection of cakes strip */

.background_color_selection {
    background-color: #C7BF94;
    height: 350px;
    width: 100%;
    position: relative;
}

#foreground_selection {
    position: absolute;
    top: 4%;
    left: 1%;

    display: flex;
    justify-content: center;
    flex-flow: wrap;

    background-color: white;
    height: 325px;
    width: 97.5%;

}
.border {
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    margin: .5% .2%;
    display: flex;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}
  .container {
      width: 300px;
      height: 300px;
  }

#selection1 {
    background: url('../images/selection1.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection2 {
    background: url('../images/selection2.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection3 {
    background: url('../images/selection3.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection4 {
    background: url('../images/selection4.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection5 {
    background: url('../images/selection5.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection6 {
    background: url('../images/selection6.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#click_here {
    text-align: center;
    margin: 0 auto;
    padding: 1.5% 0;
    background-color: white;
    font-size: 130%;
}

#click_here a {
    text-decoration: none;
    color: #808000;
}

#click_here a:hover {
    border-bottom: 2px solid #080808;
}

#quote_strip {
    background-color: #C7BF94;
    width: 100%;
    height: 30px;
    position: relative;
}

/* Afternoon Tea */

#afternoon_tea_background {
    width: 100%;
    height: 600px;

    background-color: #C7BF94;

    position: relative;
}

#afternoon_tea_foreground {
    width: 97%;
    height: 90%;

    background-color: white;

    position: absolute;
    top: 5%;
    left: 1.5%;
}

#afternoon_tea_joinus {
    position: absolute;
    top: 10%;
    left: 18%;
}

#afternoon_tea_joinus h2 {
    font-size: 200%;
}

#afternoon_tea_img1 {
    position: absolute;
    bottom: 5%;
    right: 2.5%;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
}

#afternoon_tea_img1 img {
    width: 220px;
    height: 330px;
}

#afternoon_tea_img2 {
    position: absolute;
    top: 5%;
    right: 14%;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
}

#afternoon_tea_img2 img {
    width: 250px;
    height: 313px;
}

#afternoon_tea_border {
    width: 300px;
    height: 360px;
    border: 4px solid #808000;

    position: absolute;
    top: 10%;
    right: 8%;
}

#afternoon_tea_text {
    width: 50%;
    height: 300px;

    position: absolute;
    top: 29%;
    left: 10%;
}

#afternoon_tea_text p {
    text-align: center;
    font-size: 120%;
}

#afternoon_tea_button {
    position: absolute;
    bottom: 8%;
    left: 25%;
    
    border: 2px solid #080808;
    border-radius: 6px;
    padding: 5px;

    background-color: #E1C16E;
}

#afternoon_tea_button a {
    text-decoration: none;
}

#afternoon_tea_button h2 {
    font-size: 180%;
    float: left;
    text-align: center;
    background-color: #E1C16E;
}

/* Sign up section */

#sign_up_background {
    width: 100%;
    height: 400px;
    position: relative;

    background-color: #C7BF94;
}

#sign_up_foreground_square {
    width: 18.5%;
    height: 85%;

    position: absolute;
    top: 7%;
    left: 2%;

    background-color: white;
}

#square_border {
    width: 90%;
    height: 90%;

    border: 4px solid #808000;

    display: flex;
    justify-content: center;
    flex-flow: wrap;

    position:absolute;
    top: 3.5%;
    left: 3.5%;
}

#sign_up_img {
    background: url('../images/afternoon6.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#sign_up_foreground_rectangle {
    width: 77%;
    height: 85%;

    position: absolute;
    top: 7%;
    right: 2%;

    background-color: white;
    
}

#sign_up_heading {
    position: absolute;
    top: 5%;
    right: 30%;
}

#sign_up_heading h2 {
    font-size: 200%;
}

#sign_up_text {
    width: 60%;
    position: absolute;
    top: 25%;
    left: 18%;
}

#sign_up_text p {
    text-align: center;
}

#email_signup {
    position: absolute;
    top: 50%;
    right: 5%;

    width: 1000px;
}

#email_signup input {
    border: 1px solid #080808;
    border-radius: 3px;
    padding: 5px;
    width: 65%;
    background-color: white;

    font-size: 150%;
    font-family: Mate SC, sans-serif;
    text-align: center;
} 

#sumbit_button {
    margin-top: 5%;
    margin-left: 21%;
}

#sumbit_button input {
    background-color: #E1C16E;
    width: 30%;
    font-size: 180%;
}

#sumbit_button :hover {
    cursor: pointer;
}

#letter_icon_right {
    position: absolute;
    top: 5%;
    right: 5%;

    font-size: 200%;
}

#letter_icon_left {
    position: absolute;
    top: 5%;
    left: 5%;

    font-size: 200%;
}

/* Footer */

#background_footer {
    background-color: #F2EDD7;
    width: 100%;
    height: 200px;
    position: relative;
}

#footer_media {
    position: absolute;
    right: 45%;
    top: 23%;
}

#footer_media li {
    display: inline-block;
}

#quote_strip_footer {
    background-color: #C7BF94;
    width: 100%;
    height: 60px;
    position: relative;
}

#footer_media i {
    font-size: 200%;
    color: #080808;
    letter-spacing: 20px;
}

#about_battens_bakery {
    position: absolute;
    top: 25%;
    right: 25%;
    width: 50%;
}

#about_battens_bakery li {
    display: inline-block;
    padding: 0 2%;
}

#about_battens_bakery a {
    text-decoration: none;
}

#about_battens_bakery h2 {
    letter-spacing: 2px;
    font-size: 180%;
}

#about_bakery {
    position: absolute;
    top: 65%;
    right: 1%;
    width: 80%;
}

#about_bakery li {
    display: inline-block;
    padding: 0 2%;
}

#about_bakery a {
    text-decoration: none;
}

#about_bakery h2 {
    letter-spacing: 1px;
    font-size: 120%;
}

/* Media Queries */

/* For large screens from size 1900px and down */

@media screen and (max-width: 1900px) {
    .border {
        height: 270px;
        width: 270px;
        margin: 1% .3%;
    }
    .container {
        width: 270px;
        height: 270px;
    }
}

@media screen and (max-width: 1720px) {
    .border {
        height: 250px;
        width: 250px;
        margin: .5% .1%;
    }
    .background_color_selection {
        height: 300px;
     }
    .container {
        width: 250px;
        height: 250px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 270px;
        width: 97.5%;
    }
}

@media screen and (max-width: 1580px) {
    .border {
        height: 200px;
        width: 200px;
        margin: 1.5% .5%;
    }
    .background_color_selection {
        height: 280px;
     }
    .container {
        width: 200px;
        height: 200px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 250px;
        width: 97.5%;
    }
}

@media screen and (max-width: 1500px) {
    .border {
        height: 230px;
        width: 230px;
        margin: 3% .3%;
    }
     .background_color_selection {
        height: 280px;
     }

     .container {
         height: 230px;
         width: 230px;
     }
}

@media screen and (max-width: 1400px) {
    .border {
        height: 200px;
        width: 200px;
        margin: .5% .01%;
    }
    .background_color_selection {
        height: 250px;
    }
    .container {
        height: 200px;
        width: 200px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 220px;
        width: 97.5%;
    }
}

@media screen and (max-width: 1230px) {
    .border {
        height: 230px;
        width: 230px;
        margin: 2% 5%;
    }
    .background_color_selection {
        height: 600px;
    }
    .container {
        height: 230px;
        width: 230px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 550px;
        width: 97.5%;
    }
}

@media screen and (max-width: 1030px) {
    .border {
        height: 200px;
        width: 200px;
        margin: 3% 5%;
    }
    .background_color_selection {
        height: 650px;
    }
    .container {
        height: 180px;
        width: 180px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 600px;
        width: 97.5%;
    }
}

@media screen and (max-width: 916px) {
    .border {
        height: 230px;
        width: 230px;
        margin: 3% 3%;
    }
    .background_color_selection {
        height: 600px;
    }
    .container {
        height: 220px;
        width: 220px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 550px;
        width: 97.5%;
    }
}

@media screen and (max-width: 843px) {
    .border {
        height: 200px;
        width: 200px;
        margin: 3% 2%;
    }
    .background_color_selection {
        height: 550px;
    }
    .container {
        height: 190px;
        width: 190px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 500px;
        width: 97.5%;
    }
}

/* For larger to medium screens from size 1340px wide and down */

@media screen and (max-width: 1340px) {
    #navigation {
        display: inline;
        text-align: center;
        font-size: 200%;
    }
    #navigation_style {
        height: 30%;
        width: 100%;
    }
    #signup {
        top: 50%;
        right: 5%;
    }
    #signup h2 {
        letter-spacing: 2px;
    }
    #media_platforms {
        top: 50%;
        left: 3%;
    }

    #media_platforms i {
        letter-spacing: 10px;
    }
    #main_image_outer {
        height: 300px;
    }
    #cover_text {
        font-size: 130%;
        height: 30%;
    }
    #cover_text h2 {
        padding: 1%;
    }
    #quote h2 {
        font-size: 130%;
        font-weight: bold;
    }
    #about_left {
        position: absolute;
        top: 25%;
        left: 39%;
    }
    
    #about_right {
        position: absolute;
        top: 25%;
        left: 69%;
    }
    .about_us_text {
        font-size: 90%;
    }
}

@media screen and (max-width: 960px) {
    #navigation {
        display: inline;
        text-align: center;
        font-size: 120%;
    }
    #navigation_style {
        height: 30%;
        width: 100%;
        margin: 0 auto;
    }
    #media_platforms {
        left: 5%;
        top: 30%;
        width: 10%;
    }
    #media_platforms i {
        font-size: 120%;
    }
    #media_platforms li {
        display: inline;
    }
    #signup {
        display: none;
    }
    #signup_responsive {
        display: block;
        font-size: 120%;
        color: #080808;
        text-decoration: none;
        position: absolute;
        top: 30%;
        right: 10%;
    }
    #title {
        font-size: 250%;
        padding-top: 7%;
    }
    #cover_text h2 {
        font-size: 110%;
        font-weight: bold;
        padding: 6% 2%;
    }
    #about_left {
        position: absolute;
        top: 15%;
        left: 39%;
    }
    #about_right {
        position: absolute;
        top: 15%;
        left: 69%;
    }
    #welcome {
        top: 2%;
    }
    #signature {
        bottom: 18%;
    }
    #contact_us_button {
        bottom: 5%;
        left: 50%;
    }
}