/* Styling applied to the entire document */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mate SC, sans-serif;
    font-weight: 300;
    color: #080808;
}

h1, h2 {
    font-family: Mate SC, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #080808;
}

/* Styling applied to the Header and Navigation */

.center {
    display: flex;
    width: 100%;
    justify-content: center;
}