/* Styling applied to the entire document */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mate SC, sans-serif;
    font-weight: 300;
    color: #080808;
}

h1, h2 {
    font-family: Mate SC, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #080808;
}

/* Styling applied to the Header and Navigation */

.center {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
}

#title {
    font-size: 300%;
    float: left;
    text-align: center;
    padding-top: 5%;
}

#navigation {
    font-size: 200%;
    font-weight: bold;
}

#navigation li {
    float: right;
    list-style-type: none;
    letter-spacing: 2px;
    padding: 3% 20px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #080808;
}

.active {
    border-bottom: 1px solid #080808;
}

#navigation_style {
    background-color: #C7BF94;
}

#media_platforms {
    position: absolute;
    left: 8%;
    top: 40%;
}

#media_platforms > li {
    display: inline-block;
}

#media_platforms i {
    font-size: 200%;
    color: #080808;
    letter-spacing: 20px;
}

#position {
    position: relative;
}

#signup {
    position: absolute;
    right: 8%;
    top: 40%;
}

#signup a {
    text-decoration: none;
}

#signup_responsive {
    display: none;
}

/* Main Image and Cover Text */

#main_image_outer {
    height: 600px;
    width: 100%;
    position: relative;
}

#main_image {
    height: 100%;
    width: 100%;
    background: url('../images/pancakes.jpeg') no-repeat center center;
    background-size: cover;
    margin: auto;
}

#cover_text {
    font-size: 180%;
    font-family: Mate SC, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 33%;
    height: 25%;
    
    clip-path: polygon(100% 0,100% 50%,100% 100%,0% 100%,14% 50%,0% 0%);
    background-color: rgba(199 , 191 , 148 , .7);

    position: absolute;
    top: 60%;
    right: 0;
}

#cover_text h2 {
    float: right;
    padding: 3% 10%;
    color: #080808;
    text-transform: none;
}
/* Media Queries */

/* For larger to medium screens from size 1200px wide and down */

@media screen and (max-width: 1200px) {
    #navigation {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        font-size: 200%;
    }
    #navigation_style {
        height: 30%;
        width: 50%;
        margin: 0 auto;
    }
    #signup {
        top: 100%;
        right: 5%;
    }
    #signup h2 {
        letter-spacing: 2px;
    }
    #media_platforms {
        top: 100%;
        left: 3%;
    }

    #media_platforms i {
        letter-spacing: 10px;
    }
}

@media screen and (max-width: 900px) {
    #navigation {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        font-size: 150%;
    }
    #navigation_style {
        height: 30%;
        width: 50%;
        margin: 0 auto;
    }
    #media_platforms {
        left: 10%;
        top: 100%;
    }
    #media_platforms i {
        font-size: 150%;
        padding-top: 20px;
    }
    #media_platforms li {
        display: flex;
    }
    #signup {
        display: none;
    }
    #signup_responsive {
        display: block;
        font-size: 150%;
        color: #080808;
        text-decoration: none;
        position: absolute;
        top: 100%;
        right: 10%;
    }
}